<!DOCTYPE html>
<html>
   <head>
      <script
         src="https://code.jquery.com/jquery-3.2.1.min.js"
         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link rel="stylesheet" href="/css/welcome.css">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta charset="utf-8">
      <title>Welcome</title>
   </head>
   <body>
     <ul id="userOptions" class="dropdown-content">
        <li><a href="/main">Main</a></li>
        <li><a href="/login/edit">Account</a></li>
        <% if(permissions == true){%>
          <li><a href="/cpanel">Cpanel</a></li>
        <%}%>
        <li><a href="/logout">Logout</a></li>
      </ul>

      <div class="navbar-fixed">
     <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">ShopEZ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <% if(show == true){%>
            <li><a class="dropdown-button" href="#!" data-activates="userOptions"><%= navBarText %><i class="material-icons right">arrow_drop_down</i></a></li>
          <%}else{%>
            <li><a href="<%= link %>" class=""><%= navBarText %></a></li>
          <%}%>
        </ul>
      </div>
    </nav>
      </div>
    <div class="container-fluid">
      <!-- <div class="row banner_row">
        <div class="col s12 banner_img">
        </div> -->
        <div class="row row_content">
          <!-- Left side -->
          <div class="col s6">
            <div class="col s12 left_col valign-wrapper">
              <div class="col s12 left_content">
                <h4>Never forget again, Shop EZ</h4>
                <a href="#demo"><button class="btn live_demo" type="button" name="button">Live Demo</button></a>
                <a href="/login"><button class="btn register" type="button" name="button">Register</button></a>
              </div>
            </div>
          </div>

          <!-- Right Side -->
          <div class="col s6">
            <div class="col s12 right_col valign-wrapper">
              <div class="col s12 right_content">
                <image class="macbook_image" src="../files/macbook.png">
              </div>
            </div>
          </div>
           <!-- bottom -->
           <div class="row bottom_height">
             <div class="col s4 bottom_col">
               <div class="col s12 t1 valign-wrapper">
                 <div class="col s6 offset-s3">
                   <h4 class="bottom_text">Free</h4>
                 </div>
               </div>
             </div>
             <div class="col s4 bottom_col">
               <div class="col s12 t2 valign-wrapper">
                 <div class="col s6 offset-s3">
                   <h4 class="bottom_text">Easy To Use</h4>
                 </div>
               </div>
             </div>
             <div class="col s4 bottom_col">
               <div class="col s12 t3 valign-wrapper">
                 <div class="col s6 offset-s3">
                   <h4 class="bottom_text">A List For Everything</h4>
                 </div>
               </div>
           </div>
        </div>


        <div class="row demo_begin">
          <div class="col s12 col_begin valign-wrapper">
            <div class="col s12 demo_text">
              <h4 id="demo" class="section scrollspy">Quick Introduction To Shop EZ</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 offset-s3">
          <ul class="demo_list">
            <li>
            <div class="row">
              <div class="col s12">
                <h4>Create A List</h4>
              </div>
                <div class="col s12">
                  <h4>Gonna be an image</h4>
                </div>
            </div>
            </li>
            <li><div class="row">
              <div class="col s12">
                <h4>Add to your list</h4>
              </div>
                <div class="col s12">
                  <h4>Gonna be an image</h4>
                </div>
            </div></li>
            <li><div class="row">
              <div class="col s12">
                <h4>Check your list</h4>
              </div>
                <div class="col s12">
                  <h4>Gonna be an image</h4>
                </div>
            </div></li>
            <li><div class="row">
              <div class="col s12">
                <h4>Never forget</h4>
              </div>
                <div class="col s12">
                  <h4>Gonna be an image</h4>
                </div>
            </div></li>
          </ul>
        </div>
      </div>

    <script type="text/javascript" src="/scripts/welcomeScript.js">

    </script>
   </body>
</html>
