<!DOCTYPE html>
<html>
   <head>
      <script
         src="https://code.jquery.com/jquery-3.2.1.min.js"
         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link rel="stylesheet" href="/css/welcome.css">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <meta charset="utf-8">
      <title>Welcome</title>
   </head>
   <body>
     <ul id="userOptions" class="dropdown-content">
        <li><a href="/home">Create</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
     <nav>
      <div class="nav-wrapper navbar-fixed">
        <a href="#" class="brand-logo center">ShopEZ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <% if(show == true){%>
            <li><a class="dropdown-button" href="#!" data-activates="userOptions"><%= navBarText %><i class="material-icons right">arrow_drop_down</i></a></li>
          <%}else{%>
            <li><a href="<%= link %>" class=""><%= navBarText %></a></li>
          <%}%>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- <div class="row banner_row">
        <div class="col s12 banner_img">
        </div> -->
        <div class="row row_content">
          <!-- Left side -->
          <div class="col s6">
            <div class="col s12 left_col valign-wrapper center-align">
              <h4>Never lose track again, ShopEZ
              </h4>
            </div>
          </div>

          <!-- Right Side -->
          <div class="col s6">
            <div class="col s12 right_col valign-wrapper center-align">
              <image class="macbook_image" src="../files/macbook.png">
            </div>
          </div>
        </div>
      </div>


    <script type="text/javascript" src="/scripts/welcomeScript.js">

    </script>
   </body>
</html>
