body {
  background-color: rgba(236, 240, 241,1.0);
  font-family: 'Arvo', serif;
}

.collapsible {
  color: rgba(39, 174, 96,1.0);
}

.highlight {
  background-color: rgba(52, 73, 94,1.0);
}

#username_input {
  width: 15vw;
}

#password_input {
  width: 15vw;
}

#admin_drop {
  width: 8vw;
}

#email_input {
  width: 22vw;
}

.btn {
  background-color: rgba(52, 73, 94,1.0);
  margin: 4px 69px;
}

select {
  width: 10vw;
}

/* Navbar */

.nav-wrapper{
  background-color: rgba(52, 73, 94,1.0)
}

/* User dropdown */

#userOptions{
  margin-top: 65px;
}


.dropdown-content li a {
  color: rgba(236, 240, 241,1.0) !important;
  background-color: rgba(52, 73, 94,1.0) !important;
}

.dropdown-content li a:hover {
  background-color: rgba(236, 240, 241,1.0) !important;
}
