<!DOCTYPE html>
<html>
   <head>
      <script
         src="https://code.jquery.com/jquery-3.2.1.min.js"
         integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
         crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link rel="stylesheet" href="/css/loginStyle.css">
      <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
     <div class="container-fluid">
       <% userLists.map((x) => { %>
         
       <% }) %>
     </div>
   </body>
</html>
